name: First Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps: 
      - name: Print greeting
        run: |
          echo "Hello World! First output!"
          echo "Hello World! Secound output!"
          echo "Hello World! Third output!"
      - name: Print goodbye
        run: echo "Done-bye!"
